/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .brand-name {
    font-size: 24px;
    margin-right: auto;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.hero {
    background-image: url('img/hero.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.cta-button {
    background-color: #ff4f00;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-decoration: none;
}

.cta-button:hover {
    background-color: #ff6900;
}

.mode-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

@media (min-width: 760px) {
    .mode-card {
        text-align: center;
        flex-basis: calc(25% - 20px); /* Each card takes 25% of the container width */
        margin: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box; /* Ensure padding doesn't increase card width */
    }
}

.mode-card img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #000;
    color: #fff;
    padding: 10px 0;
}
